@charset "UTF-8";

	  	 		::-webkit-input-placeholder{

	font-size:20px;
	font-family:"华文彩云";
}
	    /*左边输入框设置样式*/
	    .input_text{
	        width:450px;
	        height: 30px;
	        border: 5px solid #eeefed;;
	        /*清除掉默认的padding*/
	        padding:0px;
	 
	 		border-radius: 30px;                    /*把边框设计成半圆*/
	 		

	 		
	        /*提示字首行缩进*/
	        text-indent: 10px;
	 
	        /*去掉蓝色高亮框*/
	        outline: none;
	 
	        /*用浮动解决内联元素错位及小间距的问题*/
	        float:left;
	    }
	 
	    .input_sub{
	    
	        height: 38px;
	        float:left;
	        
	    }

