@charset "UTF-8";

				           table td{ 
				           
				         
				                background-repeat:no-repeat;;
				                background-size: 80%;
				                background-position:center
				           } 
