<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="5.0">
  <display-name>网上书店销售系统</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>pageSize</param-name>
    <param-value>4</param-value>
  </context-param>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>Servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Loginservlet</display-name>
    <servlet-name>Loginservlet</servlet-name>
    <servlet-class>servlet.Loginservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Loginservlet</servlet-name>
    <url-pattern>/Loginservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>It is used for user and administrator login and user registration.</description>
    <display-name>FirstFloorServlet</display-name>
    <servlet-name>FirstFloorServlet</servlet-name>
    <servlet-class>servlet.FirstFloorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FirstFloorServlet</servlet-name>
    <url-pattern>/FirstFloorServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>h</display-name>
    <servlet-name>h</servlet-name>
    <servlet-class>servlet.h</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>h</servlet-name>
    <url-pattern>/h</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SecondFloorUserServlet</display-name>
    <servlet-name>SecondFloorUserServlet</servlet-name>
    <servlet-class>servlet.SecondFloorUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SecondFloorUserServlet</servlet-name>
    <url-pattern>/SecondFloorUserServlet</url-pattern>
  </servlet-mapping>
</web-app>